@import url('https://fonts.googleapis.com/css?family=Gill+Sans');
@import url('http://fonts.googleapis.com/css?family=Lato:400,700');

:root {
  --lato: 'Lato', sans-serif;
  --sans-serif: sans-serif, verdana, tahoma;
  --gill-sans: "Gill Sans", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--gill-sans);
}

.App {
  text-align: center;
}

.main-color {
  background-color: #4369b2;
}

.txtwhite {
  color: white;
}

.main-dark-color {
  background-color: #3f62a4;
}

.blue-color {
  background-color: #558ae7;
}
