*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
}
  .App-logo {
.main-color{
  background-color: #4369B2;
}
.txtwhite{
  color: white;
}
 
.main-dark-color{
  background-color: #3F62A4;
}

